

<!--div class="container">
  <h3>Users List:</h3>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Name </th>
        <th>Email </th>
      </tr>
      </thead>
      <tbody>
        <tr class="success" *ngFor = "let user of users">
           <td>{{user.name}} </td>
           <td>{{user.email}} </td>
      </tr>
      </tbody>
    </table>
</div-->

<jce-user-form (userAddedEvent)= "addUser($event)"></jce-user-form>
<div>
  <ul class="list-group users">
    <li *ngFor="let user of users" 
    [class.active]="currentUser == user" 
    (click) = "select(user)"
    class="list-group-item" >
      <jce-user [user] = "user"> </jce-user>
    </li>
  </ul>
</div>