
<jce-post-form (postAddedEvent)= "addPost($event)" ></jce-post-form>
<jce-spinner [visible] = "isLoading"> </jce-spinner>
<div>
  <ul class="list-group posts" >
    <li *ngFor = "let post of posts" 
    [class.active]="currentPost==post"
    (click)="select(post)" 
    class="list-group-item">
       <jce-post [post] = post
        (deleteEvent) = "deletePost($event)"
        (editEvent)="updatePost($event)" > </jce-post>
        <ul>  
          <li *ngFor = "let user of post.userName">
            {{(user | async)?.name}}
            {{(user | async)?.email}}
          </li> 
        </ul>
      </li>
   </ul>
</div>
